<!DOCTYPE html>
<html lang=”en”>
   <head>
      <title>Centering an image in HTML using the Style Attribute</title>
   </head>
   <body>
      
      <!--Centered Image Start-->
      <div style="text-align: center;">
         <img width="400" src="https://cdn.pixabay.com/photo/2017/02/05/00/19/web-design-2038872__340.jpg">
	
      </div>
      <!--Centered Image End-->
      
   </body>
</html>